In [1]:
# import needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA

# EDA

## data inspection

In [2]:
# Load the dataset
df = pd.read_csv('case_hotel_booking.csv')

In [3]:

# Basic info
df.shape

(119390, 36)

In [ ]:
df.head()
df.tail()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,is_canceled
0,Resort Hotel,342,2015,July,27,1,0,0,2,0.0,...,0.0,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,0
1,Resort Hotel,737,2015,July,27,1,0,0,2,0.0,...,0.0,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,0
2,Resort Hotel,7,2015,July,27,1,0,1,1,0.0,...,75.0,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,0
3,Resort Hotel,13,2015,July,27,1,0,1,1,0.0,...,75.0,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,0
4,Resort Hotel,14,2015,July,27,1,0,2,2,0.0,...,98.0,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498,0

In [5]:
df.tail()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,is_canceled
119385,City Hotel,23,2017,August,35,30,2,5,2,0.0,...,96.14,0,0,Check-Out,9/6/2017,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,0
119386,City Hotel,102,2017,August,35,31,2,5,3,0.0,...,225.43,0,2,Check-Out,9/7/2017,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,0
119387,City Hotel,34,2017,August,35,31,2,5,2,0.0,...,157.71,0,4,Check-Out,9/7/2017,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,0
119388,City Hotel,109,2017,August,35,31,2,5,2,0.0,...,104.40,0,0,Check-Out,9/7/2017,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,0
119389,City Hotel,205,2017,August,35,29,2,7,2,0.0,...,151.20,0,2,Check-Out,9/7/2017,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   lead_time                       119390 non-null  int64
 2   arrival_date_year               119390 non-null  int64
 3   arrival_date_month              119390 non-null  object
 4   arrival_date_week_number        119390 non-null  int64
 5   arrival_date_day_of_month       119390 non-null  int64
 6   stays_in_weekend_nights         119390 non-null  int64
 7   stays_in_week_nights            119390 non-null  int64
 8   adults                          119390 non-null  int64
 9   children                        119386 non-null  float64
 10  babies                          119390 non-null  int64
 11  meal                            119390 non-null  object
 12  country                         118902 non-null  object
 13  market_segment                  119390 non-null  object
 14  distribution_channel            119390 non-null  object
 15  is_repeated_guest               119390 non-null  int64
 16  previous_cancellations          119390 non-null  int64
 17  previous_bookings_not_canceled  119390 non-null  int64
 18  reserved_room_type              119390 non-null  object
 19  assigned_room_type              119390 non-null  object
 20  booking_changes                 119390 non-null  int64
 21  deposit_type                    119390 non-null  object
 22  agent                           103050 non-null  float64
 23  company                         6797 non-null    float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  name                            119390 non-null  object
 32  email                           119390 non-null  object
 33  phone-number                    119390 non-null  object
 34  credit_card                     119390 non-null  object
 35  is_canceled                     119390 non-null  int64
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [7]:
df.describe(include='all')  # Include object, float, int

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,is_canceled
count,119390,119390.000000,119390.000000,119390,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,...,119390.000000,119390.000000,119390.000000,119390,119390,119390,119390,119390,119390,119390.000000
unique,2,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,926,81503,115889,119390,9000,NaN
top,City Hotel,NaN,NaN,August,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Check-Out,10/21/2015,Michael Johnson,Michael.C@gmail.com,669-792-1661,************4923,NaN
freq,79330,NaN,NaN,13877,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,75166,1461,48,6,1,28,NaN
mean,NaN,104.011416,2016.156554,NaN,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,...,101.831122,0.062518,0.571363,NaN,NaN,NaN,NaN,NaN,NaN,0.370416
std,NaN,106.863097,0.707476,NaN,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,...,50.535790,0.245291,0.792798,NaN,NaN,NaN,NaN,NaN,NaN,0.482918
min,NaN,0.000000,2015.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,-6.380000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,18.000000,2016.000000,NaN,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,...,69.290000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,69.000000,2016.000000,NaN,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,...,94.575000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,160.000000,2017.000000,NaN,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,...,126.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
max,NaN,737.000000,2017.000000,NaN,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,...,5400.000000,8.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [8]:
df.isna().sum().sort_values(ascending=False).head(20)

company                        112593
agent                           16340
country                           488
children                            4
required_car_parking_spaces         0
deposit_type                        0
days_in_waiting_list                0
customer_type                       0
adr                                 0
hotel                               0
assigned_room_type                  0
total_of_special_requests           0
reservation_status                  0
reservation_status_date             0
name                                0
email                               0
phone-number                        0
credit_card                         0
booking_changes                     0
reserved_room_type                  0
dtype: int64